Source: fdpp
Section: otherosfs
Priority: optional
Maintainer: Stas Sergeev <stsp@users.sourceforge.net>
Standards-Version: 3.9.7
Build-Depends:
    make,
    sed,
    bash,
    clang,
    nasm,
    binutils,
    binutils-x86-64-linux-gnu,
    coreutils,
    libelf-dev,
    thunk-gen (>= 1.9~),
    git,
    pkg-config,
    debhelper (>= 9~)
Homepage: https://github.com/dosemu2/fdpp

Package: libfdpp35
Architecture: any
Section: otherosfs
Replaces: fdpp
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: 64-bit DOS core
 fdpp is a 64-bit DOS core.
 It is based on a FreeDOS kernel ported to modern C++.

Package: libfdldr35
Architecture: any
Section: otherosfs
Replaces: fdpp
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: 64-bit DOS core
 fdpp kernel loader.

Package: fdpp-dev
Architecture: any
Section: libdevel
Priority: optional
Depends: libfdpp35 (= ${binary:Version}), libfdldr35 (= ${binary:Version}), ${misc:Depends}
Description: fdpp development headers
 This package contains headers for fdpp usage.
