Source: fdpp
Section: otherosfs
Priority: optional
Maintainer: Stas Sergeev <stsp@users.sourceforge.net>
Standards-Version: 3.9.7
Build-Depends:
    make,
    bison,
    flex,
    sed,
    bash,
    clang,
    nasm-segelf,
    binutils,
    coreutils,
    libelf-dev,
    autoconf,
    git,
    pkg-config,
    debhelper (>= 9~)
Homepage: https://github.com/dosemu2/fdpp

Package: fdpp
Architecture: any
Section: otherosfs
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: 64-bit DOS core
 fdpp is a 64-bit DOS core.
 It is based on a FreeDOS kernel ported to modern C++.

Package: fdpp-dev
Architecture: any
Section: libdevel
Priority: optional
Depends: fdpp (= ${binary:Version}), ${misc:Depends}
Description: fdpp development headers
 This package contains headers for fdpp usage.
