Source: fdpp
Section: contrib/otherosfs
Priority: optional
Maintainer: Stas Sergeev <stsp@users.sourceforge.net>
Standards-Version: 3.9.7
Build-Depends:
    bison,
    flex,
    sed,
    bash,
    clang,
    nasm,
    libstdc++-dev,
    autoconf,
    debhelper (>= 9~)
Homepage: http://www.github.com/stsp/fdpp

Package: fdpp
Architecture: i386 amd64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: 64-bit DOS
 fdpp is a 64-bit DOS.
 It is based on a FreeDOS kernel ported to modern C++.
