#!/usr/bin/make -f

export PATH=$(shell echo $$PATH):$(shell realpath ~/.local/bin)

%:
	pipx install meson
	./configure.meson build --prefix /usr --libdir /usr/lib
	dh $@ --buildsystem=meson --builddirectory=build

override_dh_makeshlibs:
	dh_makeshlibs -n
