#!/usr/bin/make -f

%:
	dh $@ --parallel

override_dh_auto_build:
	dh_auto_build $@ -- PREFIX=/usr

override_dh_auto_install:
	dh_auto_install $@ -- PREFIX=/usr \
		PKGCONFIGDIR=/usr/lib/${DEB_HOST_MULTIARCH}/pkgconfig

override_dh_strip:
	dh_strip --dbg-package=fdpp-dbg
